.container {
  padding: 0 var(--page-padding);
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 16px;
}

.listItem {
  cursor: pointer;
  border: 1px solid var(--gray-a6);
  border-radius: 8px;
  padding: 10px;
}

.listItemActive {
  border-color: var(--accent-a9);
  background: var(--accent-a3);
}

@media (max-width: 960px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
