.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.block {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.blockLabel {
  color: var(--gray-12);
}

.items {
  padding-left: var(--space-2);
}

.item {
  color: var(--accent-11);
  text-decoration: none;
  font-size: var(--font-size-2);
}

.item:hover {
  text-decoration: underline;
}
